
.home, .install{
    color: #1e88e5;
}

.home{
	text-align: center;
}

.about, .contribute{
	background: #1e88e5;
	color: #fff;
}
.about a, .contribute a{
	color: #fff;
}

.row{
	margin: 0px;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 4%;
	padding-bottom: 4%;
}

.screen{
	border-style: solid;
	border-width: 5px;
	border-color: rgba(30, 136, 229, .7);
	border-radius: 5px;
	margin: 5px;
	float: left;
}

.screen:hover{
	box-shadow: 0 0 5px white;
}

footer a{
	color: #fff;
}

.social{
	-webkit-transition: linear 3s;
	   -moz-transition: linear 3s;
	    -ms-transition: linear 3s;
	     -o-transition: linear 3s;
	        transition: linear 3s;
}

.social:hover{
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.bluetitle{
	color: #0873AA;
	text-shadow: 0 0 5px #1e88e5;
}

footer{
	margin: 0px;
	padding-top: 10px;
}

.brand-logo{
	margin-left: 10px;
}


blockquote{
	border-left: 10px solid #1e88e5;
	padding: 10px;
}

.about blockquote, .contribute blockquote{
	border-left: 10px solid #fff;
}

.label-warning{
	background-color: #D52F22;
	color: #fff;
	padding: 5px;
}

.label-info{
	background-color: #1793D1;
	color: #fff;
	padding: 5px;
}

.label-success{
	background-color: #3BA345;
	color: #fff;
	padding: 5px;
}

.label-primary{
	background-color: #294172;
	color: #fff;
	padding: 5px;
}

/* Media Query for devices */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body{
		font-size: 12px;
	}
	.logo{
		width: 64%;
		height: 64%;
	}
	.centertitle, h1{
		font-size: 40px;
	}
	h3{
		font-size: 30px;
	}
}
@media only screen
and (min-device-width : 481px)
and (max-device-width : 1100px) {
	body{
		font-size: 15px;
	}
}